In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv("raw data.txt")

In [ ]:
df.head()
df.shape

(1285, 20)

In [ ]:
print(df.head())

   declarationRequestNumber  region stateAbbreviation  \
0                        23      10                ID
1                        40       6                OK
2                        46       6                LA
3                        51       4                NC
4                        56       5                IL

                            state  tribalRequest    declarationRequestDate  \
0  Idaho                                       0  2000-03-03T00:00:00.000Z
1  Oklahoma                                    0  2000-05-10T00:00:00.000Z
2  Louisiana                                   0  2000-06-05T00:00:00.000Z
3  North Carolina                              0  2000-06-06T00:00:00.000Z
4  Illinois                                    0  2000-06-15T00:00:00.000Z

  declarationRequestType                                       incidentName  \
0         Major Disaster                           ID-ROCKSLIDES-02-11-2000
1         Major Disaster                           OK-Tulsa Flooding-5-6-00
2         Major Disaster                 LA-Tornado-North Louisiana-4/23/00
3         Major Disaster            NC -Severe Storms and Possible Tornados
4         Major Disaster  IL-Severe Storms, Tornadoes & Flooding-05/19/2000

  requestedIncidentTypes requestedIncidentBeginDate  requestedIncidentEndDate  \
0          Mud/Landslide   2000-01-30T00:00:00.000Z                       NaN
1                  Flood   2000-05-05T00:00:00.000Z  2000-05-08T00:00:00.000Z
2                Tornado   2000-04-23T00:00:00.000Z  2000-04-24T00:00:00.000Z
3           Severe Storm   2000-05-25T00:00:00.000Z  2000-05-25T00:00:00.000Z
4           Severe Storm   2000-05-18T00:00:00.000Z  2000-05-26T00:00:00.000Z

  currentRequestStatus         requestStatusDate  ihProgramRequested  \
0             Turndown  2000-03-17T00:00:00.000Z                   0
1             Turndown  2000-05-24T00:00:00.000Z                   0
2             Turndown  2000-06-21T00:00:00.000Z                   0
3             Turndown  2000-06-23T00:00:00.000Z                   0
4             Turndown  2000-06-27T00:00:00.000Z                   0

   iaProgramRequested  paProgramRequested  hmProgramRequested  incidentId  \
0                   1                   0                   1  2000021103
1                   1                   0                   1  2000050701
2                   1                   0                   1  2000042401
3                   0                   1                   1  2000052601
4                   0                   1                   1  2000051901

          incidentBeginDate                                    id
0  2000-01-30T00:00:00.000Z  34155e6e-889c-4262-8dbb-646ac0c4c67e
1  2000-05-06T00:00:00.000Z  b3cc1174-ea66-47fd-886d-77a4775389d6
2  2000-04-23T00:00:00.000Z  f9817a28-f4a1-4882-ba99-bbee21630e29
3  2000-05-25T00:00:00.000Z  7df2ffcd-b150-4a61-a0a1-277a4910bfb6
4  2000-05-19T00:00:00.000Z  9043295f-1cb2-4321-a127-5f57e8dbba7b

In [ ]:
df.columns = (
    df.columns
      .str.strip()
      .str.lower()
      .str.replace(" ", "_")
)

In [ ]:
df.drop(columns=['id', 'incidentid'], inplace=True, errors='ignore')

In [ ]:
df.duplicated().sum()
df = df.drop_duplicates()

In [ ]:
cat_cols = ['state', 'stateabbreviation', 'incidentname',
            'requestedincidenttypes', 'declarationrequesttype',
            'currentrequeststatus']

for col in cat_cols:
    if col in df.columns:
        df[col] = df[col].astype(str).str.strip()

In [ ]:
date_cols = [
    'declarationrequestdate',
    'requestedincidentbegindate',
    'requestedincidentenddate',
    'incidentbegindate',
    'requeststatusdate'
]

for col in date_cols:
    if col in df.columns:
        df[col] = pd.to_datetime(df[col], errors='coerce')

In [ ]:
df.isnull().sum()

declarationrequestnumber       0
region                         0
stateabbreviation              0
state                          0
tribalrequest                  0
declarationrequestdate         1
declarationrequesttype         0
incidentname                   0
requestedincidenttypes         0
requestedincidentbegindate     1
requestedincidentenddate      97
currentrequeststatus           0
requeststatusdate              0
ihprogramrequested             0
iaprogramrequested             0
paprogramrequested             0
hmprogramrequested             0
incidentbegindate              0
dtype: int64

In [ ]:
df.fillna({
    'requestedincidentenddate': pd.NaT,
    'incidentname': 'Unknown',
    'requestedincidenttypes': 'Unknown'
}, inplace=True)

In [ ]:
program_cols = [
    'ihprogramrequested',
    'iaprogramrequested',
    'paprogramrequested',
    'hmprogramrequested'
]

for col in program_cols:
    if col in df.columns:
        df[col] = df[col].fillna(0).astype(int)

In [ ]:
df['requestedincidenttypes'] = (
    df['requestedincidenttypes']
    .str.lower()
    .str.replace('&', 'and')
    .str.title()
)

In [ ]:
df['year'] = df['declarationrequestdate'].dt.year
df['month'] = df['declarationrequestdate'].dt.month

In [ ]:
df.to_csv("/content/cleaned_disaster_data.csv", index=False)